body{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;

}
h1{
    font-size: 2em;
    align-self: center;
    background-color: darkgrey;
    width: max-content;
    padding: 2em;
    border-radius: 0.75em;
    border: solid black 2px;
    margin: 0em;
   
}


form{
    margin: 1em;
    align-self: center;
}




p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
}

main{
    align-self: center;
}


